<mat-toolbar>
  <span>IT Center</span>
</mat-toolbar>
<mat-drawer-container style="height: 100vh">
  <mat-drawer mode="side" opened class="nav">
    <button mat-button color="primary">Messages</button>
    <button mat-button color="disabled">Tickets</button>
    <button mat-button color="disabled">Support</button>
    <button mat-button color="disabled">Help</button>
    <button mat-button color="disabled">Info</button>
  </mat-drawer>
  <mat-drawer-content>
    <app-message-dashboard />
  </mat-drawer-content>
</mat-drawer-container>
